.bg-black-red{
    background: linear-gradient(45deg,black,blue);
}
.btn-black-red{
    background: linear-gradient(45deg,black,blue) !important;
    color: white;
}
.text-dark-red{
    color: darkblue;
}
.table{
    box-shadow: 0 0 5px darkblue;
}