body{
    font-family: Arial,sans-serif;
    background-color: lightblue;
    text-align: center;
    margin: 0;
}
h1{
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}
p{
    font-size: 18px;
}
nav{
    background-color: orange;
    padding: 5px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}
nav a:hover{
    background-color: orangered;
    color: white;
    border-radius: 5px;
}
nav a.active{
    background-color: darkred;
    color: white;
    border-radius: 5px;
}